body{font-family: 'Alegreya Sans SC', sans-serif;/* test for this! Make all sizes em or rem */
    background-image: url("../images/concrete_seamless.png") ;
    color: black ;
font-weight: bold;}


header{display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;}


h1{text-align: center;
    display: flex;
    
    justify-content: center;
font-weight: bold;}


h2{color: black;
font-weight: bold;}

h3{background-color:#288088}


p{font-weight: bold;}



a.skip{}




a.skip:focus{}



*:focus{}


.nav_item a:hover, a:focus{
justify-content: flex-en
}
.nav_item a{display:flex;
    flex-direction: column;
    justify-content:flex-end;
font-weight: bold;}


.pricing{flex-direction: column;
      /* background-color: #288088;  */
     /* border: 2px solid #45ADAD;  */
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;}





.card{  display: flex;
    flex-direction: column;
    font-weight: bold;
    /* background-color: #288088;}  */}


.card header{background-color: #288088;
font-weight: bold;}


.card > ul{
    color: black;
    font-weight: bold;
}




.card button{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: flex-end; */
    /* flex:content; */
}




.card h3{}




.card_big{}


.gallery{display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;



}
.gallery > img{
    border: 10px solid #50c7c7;

margin: 10px;
width: 300px;}

footer{}







@media screen and (min-width: 850px){


    header{display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        font-weight: bold;}

    .card header{
        background-color: #288088;
        font-weight: bold;}
    

    .pricing{
        display:flex;
        flex-basis: auto;
        flex-direction: row;
        justify-content: center;
        
        /* background-color: #288088; */
        /* border: 2px solid #45ADAD; */
        padding-top: 20px;
        padding-bottom: 20px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;}





    nav{width: 100%;}
    .nav_item a{display:flex;
        flex-direction: row;
        justify-content:flex-end;
        font-weight: bold;
        width:100%;}








    .gallery{display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    border:  solid #50c7c7;
    }

















    .card_big{
        -webkit-transform: scaleY(1.1);
        transform: scaleY(1.1);
        z-index: -99;
  }









}




